* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(124.01deg, #481092 24.46%, #6439ff 85.27%);
}

html {
  scrollbar-color: #1041d5 white;
}

:root {
  --brand-primary-color: #3dbb2f;
  --blue-color: #135de5;
  --white: white;
  --font-size: 18px;
}

/* back to top button */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: var(--white);
  color: var(--brand-primary-color);
  padding: 5px 15px;
  border-radius: 16px;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid var(--brand-primary-color);
  box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.back-to-top:hover {
  background-color: var(--brand-primary-color);
  color: var(--white);
}

.back-to-top .icon {
  transition: all 0.2s ease;
}

.back-to-top:hover .icon {
  animation: bounce 0.6s infinite alternate ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.back-to-top.show {
  display: block;
}

/* whatsappicon */
.btn-whatsapp-pulse {
  background: var(--brand-primary-color);
  color: var(--white);
  position: fixed;
  bottom: 60px;
  left: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 230, 118, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 18px rgba(0, 230, 118, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 230, 118, 0);
  }
}

@media screen and (max-width: 576px) {
  .back-to-top {
    right: 24px;
  }
  .btn-whatsapp-pulse {
    font-size: 35px;
    padding: 30px;
    border-radius: 50%;
  }
}

.container {
  width: 90%;
}

/* header */
header nav {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 4px 44px 0px #0000001f;
}

header nav .container {
  width: 90%;
}

header nav .nav-item .nav-link {
  font-size: 0.9rem;
  color: var(--white);
}

header .navbar-nav {
  align-items: center;
}

header nav .nav-item .nav-link.active {
  color: var(--brand-primary-color);
  width: fit-content;
  font-weight: bolder;
}

header nav .nav-item:hover .nav-link {
  color: var(--brand-primary-color);
  width: fit-content;
}

/* ------------------ */

header nav .dropdown:hover .dropdown-menu {
  display: block;
}

header nav .dropdown-menu {
  position: relative;
  width: 40%;
  padding: 2.5%;
  border: 1px solid rgba(225, 225, 225, 0.534);
  background-color: var(--white);
  border-radius: 0%;
  box-shadow: 2px 2px 15px 8px rgb(0, 0, 0, 0.058);
  backdrop-filter: blur(14px);
}

header nav .dropdown-menu:hover {
  box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.127);
}

header nav .dropdown-menu .dropdown-item {
  color: black;
  font-size: 1rem;
  margin: 2% 0;
}

header nav .dropdown-menu:hover .dropdown-item {
  color: #082760;
}

header nav .dropdown-menu .dropdown-item:active {
  transform: scale(0.9);
}

header nav .dropdown-menu .dropdown-item.active {
  color: var(--brand-primary-color);
  background-color: rgb(255, 255, 255) !important;
}

header nav .dropdown-menu .dropdown-item:hover {
  color: var(--brand-primary-color);
  background-color: rgba(211, 211, 211, 0.188) !important;
}

header nav .nav_btn {
  background: white;
  color: black;
  font-size: 0.8rem;
}

header nav .nav_btn:focus {
  color: var(--white) !important;
}

header nav .nav_btn:hover {
  background-color: var(--brand-primary-color);
  color: var(--white);
  border-color: var(--brand-primary-color);
  box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.147);
}

@media screen and (min-width: 1200px) {
  header nav .navbar-nav {
    justify-content: start;
  }

  header nav .nav-item .nav-link {
    transition: none !important;
  }
}

@media screen and (min-width: 1200px) {
  header nav .navbar-nav {
    justify-content: start;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  header nav .nav-item .nav-link {
    transition: none !important;
  }
}

@media screen and (max-width: 991px) {
  header nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 44px 0px #0000001f;
  }

  header .offcanvas {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 10%;
    background-color: rgb(0, 0, 0);
  }

  header nav .offcanvas .nav-item:hover .nav-link {
    color: var(--brand-primary-color);
    width: fit-content;
  }

  header .navbar-nav {
    align-items: start;
  }

  header nav .navbar-toggler:focus {
    box-shadow: 1px 4px 4px 1px #4c4c4c14 !important;
  }

  header nav .navbar-toggler:active {
    transform: scale(0.9);
  }

  header nav .close_btn {
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: var(--white);
  }

  header nav .close_btn:active {
    transform: scale(0.9);
  }

  header nav .close_btn i {
    transition: all 0.1s linear;
  }

  header nav .close_btn i:active {
    transform: scale(0.9);
  }
}

/* footer */

footer .quick_link_division .quick_links {
  background-color: #e7f1fe;
}

footer .quick_link_division {
  background-color: var(--white);
}

footer .quick_link_division a {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: black;
  transition: all 0.2s ease;
}

footer .quick_link_division a:hover {
  transform: scale(1.011);
  color: var(--blue-color);
}

footer {
  background-color: #000000;
}

footer i {
  color: var(--white);
}

footer .links {
  font-size: 13px;
}

footer .pages .links a {
  color: #ffffffd1;
  transition: all 0.2s ease;
}

footer .links a:hover {
  color: #3dbb2f;
}

footer .fa-brands {
  transition: all 0.2s linear;
  color: #ffffffd1;
}

footer .fa-brands:hover {
  transform: scale(1.2);
  color: var(--brand-primary-color);
}

footer .fa-brands:active {
  transform: scale(0.9);
}

footer .copyright .links a {
  color: var(--white);
  font-size: 16px;
}

footer .copyright .links a:hover {
  text-shadow: 1px 2px 3px #ffffffc0;
}

footer .pages .links a.active{
  color: var(--brand-primary-color);
}

/* home */
/* hero_banner */
.hero_section .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero_section .carousel-inner {
  color: white;
}

.hero_section .carousel-caption-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 2;
  max-width: 500px;
}

@media screen and (max-width:576px) {
  .hero_section .carousel-item img {
    height: 100%;
    width: 100%;
    object-position: 78% center;
  }

  .hero_section .carousel-caption-left {
    position: absolute;
    top: 50%;
    right: 6.5%;
    left: 2%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.462));
    padding: 3%;
    border-radius: 12px;
  }
}

.hero_section .carousel-caption-left h2 {
  font-size: 2.6rem;
  font-weight: bolder;
}

.hero_section .carousel-caption-left p {
  font-size: 1.2rem;
}

.hero_section .carousel-caption-left .btn {
  padding: 10px 20px;
}

.hero_section .carousel-caption-left .button1 {
  background-color: var(--brand-primary-color);
  color: var(--white);
}

.hero_section .carousel-caption-left .button1:hover {
  background-color: var(--white);
  color: var(--brand-primary-color);
}

.hero_section .carousel-caption-left .button2 {
  background-color: #1e1e1e;
  color: var(--white);
}

.hero_section .carousel-caption-left .button2:hover {
  background-color: var(--white);
  color: rgb(0, 0, 0);
}

.hero_section .carousel-caption-left .button3:hover {
  background-color: var(--white);
  color: var(--brand-primary-color);
}

.hero_section .carousel-caption-left .button3 {
  padding: 10px 20px;
  background-color: var(--brand-primary-color);
  color: var(--white);
}

.hero_section .carousel-indicators.custom-dots {
  bottom: 20px;
}

.hero_section .carousel-indicators.custom-dots button {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #aaa;
  border: none;
  opacity: 0.5;
  transition: 0.3s;
}

.hero_section .carousel-indicators.custom-dots button.active,
.hero_section .carousel-indicators.custom-dots button:hover {
  background-color: var(--white);
  opacity: 1;
}

@media (max-width: 992px) {
  .hero_section .carousel-caption-left h2 {
    font-size: 2rem;
  }

  .hero_section .carousel-caption-left p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero_section .carousel-caption-left {
    left: 5%;
  }

  .hero_section .carousel-caption-left h2 {
    font-size: 1.6rem;
  }

  .hero_section .carousel-caption-left p {
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {
  .hero_section .carousel-item {
    height: 300px;
    position: relative;
  }

  .hero_section .carousel-caption-left {
    left: 7.8%;
  }

  .hero_section .carousel-caption-left h2 {
    font-size: 1.5rem;
  }

  .hero_section .carousel-caption-left p {
    font-size: 0.9rem;
  }

  .hero_section .carousel-caption-left .btn {
    font-size: 0.8rem;
  }

  .hero_section .carousel-control-prev,
  .hero_section .carousel-control-next {
    display: none;
  }
}

/* hero_banner  */

/* aboutUs */
.aboutUs_section {
  background: url(assets/resources/images/home/aboutUsBg.webp) no-repeat center/cover;
}

.aboutUs_section .btn {
  font-size: 0.9em;
}

.aboutUs_section .btn:hover {
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.079);
}

.aboutUs_section .button1 {
  color: black;
  border-color: black;
}

.aboutUs_section .button1:hover {
  background-color: #000000;
  color: var(--white);
}

.aboutUs_section .button2 {
  background-color: var(--brand-primary-color);
  color: var(--white);
  border-color: var(--brand-primary-color);
}

.aboutUs_section .button2:hover {
  color: black;
  border-color: black;
  background-color: var(--white);
}

.aboutUs_section .content h4 {
  font-size: 2.1em;
}

.aboutUs_section .content p {
  font-size: 0.85em;
  text-align: justify;
  color: #595959;
}

@media (max-width: 576px) {
  .aboutUs_section .content h4 {
    font-size: 2em;
  }

  .aboutUs_section .content p {
    font-size: 0.9em;
  }
}

/* aboutUs */

/* ourApparel */

.ourApparel_section .ourApparel_section .content h4 {
  font-size: 2.1em;
}

.ourApparel_section .content p {
  font-size: 0.85em;
  color: #595959;
}

@media (max-width: 576px) {
  .ourApparel_section .content h4 {
    font-size: 2em;
    text-align: left;
  }

  .ourApparel_section .content p {
    font-size: 0.9em;
    text-align: left;
  }
}

.apparel_cards {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 8px;
}

.apparel_cards img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  transition: all 0.4s ease;
}

.apparel_cards:hover img {
  opacity: 0.15;
  transform: scale(1.05);
}

.apparel_caption {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.apparel_caption .icon,
.apparel_caption p {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}

.apparel_cards:hover .icon,
.apparel_cards:hover p {
  opacity: 1;
  transform: translateY(0);
}

/* ourApparel */

/* process */
.process_section {
  background: url(assets/resources/images/home/process_bg.webp) no-repeat center/cover;
}

.process_section .btn {
  font-size: 0.9em;
}

.process_section .btn:hover {
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.079);
}

.process_section .button1 {
  color: var(--white);
  border-color: var(--white);
}

.process_section .button1:hover {
  background-color: #000000;
  color: var(--white);
  border-color: var(--white);
}

.process_section .button2 {
  background-color: var(--brand-primary-color);
  color: var(--white);
  border-color: var(--brand-primary-color);
}

.process_section .button2:hover {
  color: black;
  border-color: black;
  background-color: var(--white);
}

.process_section .content h4 {
  font-size: 2.5em;
  color: var(--white);
}

.process_section .content p {
  font-size: 0.9em;
  color: #ffffff;
}

.process_section .process_item {
  padding: 20px;
  text-align: center;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  background: var(--white);
  cursor: pointer;
}

.process_section .process_item:hover .process_number {
  transform: translateY(5px);
  color: var(--brand-primary-color);
}

.process_section .process_number {
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px var(--brand-primary-color);
  color: var(--brand-primary-color);
  font-weight: 700;
  display: block;
  transition: 0.4s ease-in-out;
}

.process_section .process_title {
  font-weight: 700;
  font-size: 18px;
  color: var(--brand-primary-color);
  text-transform: uppercase;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .process_section .content h4 {
    font-size: 2em;
  }

  .process_section .content p {
    font-size: 0.9em;
  }
}

/* process */

/* Customization */
.Customization_section {
  background-color: #5f5f5fce;
  padding: 40px 0;
}

.Customization_section .carousel-inner-custom {
  transition: 0.3s ease-in-out;
  position: relative;
  left: 0;
}

.Customization_section .c-item img {
  height: 180px;
  object-fit: cover;
}

.Customization_section .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.Customization_section .arrow:hover {
  background: #222;
  color: var(--brand-primary-color);
}

.Customization_section #prev {
  left: 4px;
}

.Customization_section #next {
  right: 4px;
}

.Customization_section .learn_more_btn {
  background-color: var(--brand-primary-color);
  width: fit-content;
  color: white;
}

.Customization_section .learn_more_btn:hover {
  background-color: black;
  color: white;
}

/* Customization */

/* advertisement */
.advertisement_section {
  background-image: url(assets/resources/images/home/advertisement_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 3% 0%;
}

.advertisement_section h2 {
  font-size: 3em;
}

.advertisement_section .btn {
  color: white;
  font-size: 0.85em;
  border: 1px solid white;
}

.advertisement_section .btn:hover {
  color: black;
  background-color: var(--white);
}

@media screen and (max-width: 576px) {
  .advertisement_section h2 {
    font-size: 2.2em;
  }
}

/* advertisement */

/*why choose us */

.why_choose_us_section .content h2 {
  font-size: 2em;
  text-align: left;
}

.why_choose_us_section .btn {
  font-size: 0.9em;
}

.why_choose_us_section .btn:hover {
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.079);
}

.why_choose_us_section .button1 {
  color: black;
  border-color: black;
}

.why_choose_us_section .button1:hover {
  color: var(--brand-primary-color);
  border-color: var(--brand-primary-color);
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.079);
}

.why_choose_us_section .button2 {
  background-color: black;
  color: var(--white);
}

.why_choose_us_section .button2:hover {
  background-color: var(--brand-primary-color);
  color: var(--white);
  border-color: var(--brand-primary-color);
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.079);
}

.why_choose_us_section .why_we_card {
  border-radius: 14px;
  box-shadow: 0px 24.59px 135.32px 0px #0920381e;
}

@media screen and (max-width: 768px) {
  .why_choose_us_section .why_we_card {
    box-shadow: 0 8px 20px rgba(9, 32, 56, 0.12);
  }
}

/* why choose us */

/* banner */

.banner_section .container {
  border-radius: 12px;
  background-color: var(--brand-primary-color);
}

.banner_section h2 {
  font-size: 2.6em;
}

.banner_section .button1 {
  font-size: 0.9em;
  background-color: var(--brand-primary-color);
  color: var(--white);
  border-color: var(--white);
}

.banner_section .button1:hover {
  background-color: var(--white);
  color: var(--brand-primary-color);
  border-color: var(--white);
}

@media (max-width: 576px) {
  .banner_section .container {
    border-radius: 0%;
  }

  .banner_section h2 {
    font-size: 2em;
  }

  .banner_section .button1 {
    font-size: 0.8em;
  }
}

/* banner */
/* faq */
.faq_section {
  background: url(assets/resources/images/home/aboutUsBg.webp) no-repeat;
}

.faq_section .accordion-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq_section .accordion-header {
  background-color: black;
  color: var(--white);
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.faq_section .accordion-header:hover {
  background-color: #3dbb2f;
  color: white;
}

.faq_section .accordion-content {
  background-color: #fafafa;
  overflow: hidden;
  padding: 0 15px;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.faq_section .accordion-content p {
  margin: 15px 0;
  line-height: 1.5;
}

.faq_section .icon {
  transition: transform 0.3s ease;
}

.faq_section .active .icon {
  transform: rotate(45deg);
}

@media screen and (max-width: 576px) {
  .faq_section .accordion-header {
    font-size: 0.9em;
  }

  .faq_section .accordion-content p {
    font-size: 0.8em;
  }
}

/* faq */
/* galleryPage */
.galleryPage .title_box {
    background: url(assets/resources/images/background_img3.webp) no-repeat center/cover;
    padding: 6em;
}

.galleryPage .hero_section {
    background: url(assets/resources/images/home/aboutUsBg.webp) no-repeat center/cover;
}

.galleryPage .hero_section .btn {
    background-color: var(--brand-primary-color);
    color: var(--white);
    font-size: .8rem;
}

.galleryPage .hero_section .btn:hover {
    background-color: var(--white);
    color: var(--brand-primary-color);
    border-color: var(--brand-primary-color);
    box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.147);
}

.galleryPage .hero_section .images .img-fluid {
    filter: drop-shadow(0px 34px 114px rgba(0, 0, 0, 0.350));
}

.galleryPage .gallery_photos {
    background-color: black;
}

.galleryPage .gallery_photos .btn {
    border: 1px solid white;
    color: white;
}

.galleryPage .gallery_photos img {
    cursor: pointer;
}

.galleryPage .gallery_photos .btn.active {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--brand-primary-color);
}

.galleryPage .gallery_photos .content {
    justify-content: space-between;
}

.galleryPage .gallery_photos .button_div {
    align-self: end;
}

.galleryPage .gallery_photos .button_div .btn_list {
    justify-content: center;
}

@media screen and (max-width:992px) {
    .galleryPage .gallery_photos .content {
        justify-content: space-between;
    }

    .galleryPage .gallery_photos .button_div {
        align-self: center;
    }

    .galleryPage .gallery_photos .button_div .btn_list {
        justify-content: space-around;
    }
}

@media screen and (max-width:578px) {
    .galleryPage .gallery_photos .button_div .btn_list {
        justify-content: flex-start;
    }
}

/* galleryPage */
/* aboutUsPage */
.aboutUsPage .title_box {
    background: url(assets/resources/images/background_img1.webp) no-repeat center/cover;
    padding: 6em;
}

.aboutUsPage .hero_section {
    background: url(assets/resources/images/home/aboutUsBg.webp) no-repeat center/cover;
}

.aboutUsPage .hero_section .btn {
    background-color: var(--brand-primary-color);
    color: var(--white);
    font-size: .8rem;
}

.aboutUsPage .hero_section .btn:hover {
    background-color: var(--white);
    color: var(--brand-primary-color);
    border-color: var(--brand-primary-color);
    box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.147);
}

.aboutUsPage .hero_section .button2 {
    color: var(--white);
    background-color: rgb(147, 2, 2);
}

.aboutUsPage .hero_section .button2:hover {
    background-color: var(--white);
    color: rgb(147, 2, 2);
    border-color: rgb(147, 2, 2);
    box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.147);
}
/* aboutUsPage */
/* contactUsPage */
.contactUsPage .title_box {
    background: url(assets/resources/images/background_img2.webp) no-repeat center/cover;
    padding: 6em;
}


.contactUsPage .contact_div iframe {
    width: 500px;
    border-radius: 12px;
    height: 400px;
}

.contactUsPage .contact_div .form-control {
    background-color: #78787810;
    border: 1px solid #B8B8B8;
}

.contactUsPage .contact_div .form-control::placeholder {
    color: #959596;
    font-size: 12px;
}

.contactUsPage .contact_div .btn {
    color: white;
    padding: 12px;
    background-color: #007AFF;
}

.contactUsPage .contact_div .btn:hover {
    color: white;
    background-color: #3DBB2F;
    border: 1px solid #3DBB2F;
    box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.147);
}

.contactUsPage .contact_div .form-control:focus {
    background-color: rgba(255, 255, 255, 0.733) !important;

}

@media screen and (max-width:576px) {
    .contactUsPage .contact_div iframe {
        border-radius: 0px;
        height: 350px;
    }

}

.contactUsPage .contact_div .fa-brands {
    color: #063D86;
    transition: all .2s ease;
}

.contactUsPage .contact_div .fa-brands:hover {
    transform: scale(1.03);
    color: #3dbb2f;
}
/* contactUsPage */